* {
    box-sizing: border-box;
}

body {
    background-image: url('web-images/for-website.jpg');
    background-repeat: no-repeat;
    background-position: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav ul li a {
        letter-spacing: 5px;
        text-decoration: none;
        margin-bottom: 10px;
    }

nav ul li a:link {
        color: #EDB88B;
        font-weight: 900;
        font-size: 15px;
}

nav ul li a:visited {
        color:#EDB88B;
        font-weight: 900;
}

nav ul li a:hover {
        color: lightgray;
        font-weight: 900;
}

nav ul li a:active {
        color: navy;
        font-weight: 900;
}

.for-h1 {
    display: flex;
    justify-content: center;
}

h1 {
    padding: 0;
    margin: 0;
    padding-left: 25px;
    padding-top: 50px;
    font-weight: 600;
    font-family: Verdana, Tahoma, sans-serif;
    color: #FFE8E1;
    font-size: 35px;
    letter-spacing: 25px;
}

.for-padding {
    padding: 25px 15px;
    background-color: #F2D0A4;
    border-radius: 1%;
}

.paras {
    text-align: center;
    font-size: 20px;
    color: #2B2D42;
}

.paras-again {
    margin-top: 50px;
}

main {
    margin-top: 50px;
}

footer ul {
    display: flex;
    justify-content: space-around;
}

footer ul li {
    list-style-type: none;
}

footer ul li a {
    text-decoration: none;
    color: darkred;
    font-size: 20px;
}

footer {
    background-color: lightgray;
    padding: 25px;
    margin-top: 75px;
}

.button1, .button2, .button3, .button4 {
    background: gray;
}

h2 {
    text-align: center;
    font-family: sans-serif;
}

p {
    text-align: center;
    margin: 5px;
    margin-bottom: 25px;
    font-size: 15px;
    font-family: "Comic Sans MS";
    line-height: 25px;
}

.last {
    margin-top: 50px;
}

.hold-images {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.first-img {
    width: 300px;
    height: 550px;
    border: solid gray 2px;
}

.second-img {
    width: 500px;
    height: 550px;
    margin-top: 10px;
    border: solid gray 2px;
}

article {
    background-color: #F2D0A4;
    border-radius: 1%;
    padding: 15px 10px;
}

.a2 {
    margin-top: 15px;
}

.a3 {
    margin-top: 15px;
}

.for-button {
    display: flex;
    justify-content: center;
}

h4 {
    font-family: monospace;
    font-size: 15px;
}

.overall-q {
    background-color: #F2D0A4;
    padding: 15px;
}

.question-form ul, .particular-ul {
    padding: 0px;
}

.question-form ul li {
    margin-bottom: 5px;
}

.particular-ul, .fix, .question-form ul, .end-buttons {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 25px;
}

.particular-ul li {
    font-family: monospace;
    margin-bottom: 5px;
}

.for-move-on, .for-restart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.end-of-question {
    margin-bottom: 5px;
}

.top {
    background-color: #F2D0A4;
    padding-bottom: 35px;
    padding-top: 15px;
}

.last-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#geo {
    margin: 10px 0px;
}

header nav ul li a {
    display: flex;
    justify-content: center;
}

header nav ul li a div {
    color: #fff;
}

.error {
    color: darkred;
    text-align: center;
}

.err-message {
    text-align: center;
}

.fun-list {
    padding: 0;
}

.fun-list {
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.fun-list li {
    margin: 10px 0px;
    margin-bottom: 10px;
    border: 2px solid black;
    color: #fff;
    background-color: #000;
    padding: 3px;
    border-radius: 10%;
}

.response h2 {
    font-family: Verdana;
    margin-bottom: 25px;
}










@media all and (min-width: 1230px) {

    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    nav ul li a {
        letter-spacing: 5px;
        margin: 50px;
        text-decoration: none;
    }

    nav ul li a:link {
        color: #EDB88B;
        font-weight: 900;
        font-size: 20px;
    }

    h1 {
        font-weight: 600;
        font-family: Verdana, Tahoma, sans-serif;
        color: #FFE8E1;
        font-size: 50px;
        letter-spacing: 25px;
    }

    .paras {
        text-align: center;
        font-size: 25px;
        color: #2B2D42;
    }

    .paras-again {
        margin-top: 75px;
    }

    main {
        margin-top: 100px;
    }

    footer ul li {
        list-style-type: none;
    }

    footer ul li a {
        text-decoration: none;
        color: darkred;
        font-size: 30px;
    }

    footer {
        background-color: lightgray;
        padding: 50px;
        margin-top: 150px;
    }

    p {
        text-align: center;
        margin: 15px;
        margin-bottom: 50px;
        font-size: 20px;
        font-family: "Comic Sans MS";
        line-height: 55px;
    }

    .last {
        margin-top: 100px;
    }

    .hold-images {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .first-img {
        margin: 0;
        width: 500px;
        height: 750px;
        border: solid gray 2px;
    }

    .second-img {
        margin: 0;
        width: 700px;
        height: 750px;
        margin-left: 10px;
        border: solid gray 2px;
    }

    article {
        background-color: #F2D0A4;
        border-radius: 1%;
        padding: 25px 15px;
    }

    .a2 {
        margin-top: 25px;
    }

    .a3 {
        margin-top: 25px;
    }

    h3, .question01, .question02, .question03, .question04, .question05, h4 {
        text-align: center;
    }

    h4 {
        font-family: monospace;
        font-size: 20px;
    }

    .question-form ul, .particular-ul {
        display: flex; 
        justify-content: space-around;
        flex-flow: row wrap;
        list-style-type: none;
        margin-bottom: 50px;
    }

    .particular-ul li {
        font-family: monospace;
        margin-right: 5px;
    }

    .end-buttons, .for-move-on, .for-restart {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-bottom: 50px;
    }

    .end-of-question {
        margin: 0;
        margin-right: 5px;
    }

    .restart {
        margin: 0;
        margin-left: 5px;
    }

    .top {
        background-color: #F2D0A4;
        padding-bottom: 50px;
        padding-top: 30px;
    }

    .last-form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    #geo {
        margin: 0px 10px;
    }

    header nav ul li a div {
        color: #fff;
    }

    .error {
        color: darkred;
        font-size: 35px;
    }

    .fun-list {
        list-style-type: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .fun-list li {
        margin: 0px 10px;
        margin-bottom: 15px;
        border: 2px solid black;
        color: #fff;
        background-color: #000;
        padding: 5px;
        border-radius: 10%;
    }

    .response h2 {
        font-family: Verdana;
        margin-bottom: 50px;
    }

}